@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Sans:ital@0;1&display=swap");

html {
    background-color: #FEECDB;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0.5rem;
    line-height: 1.7;

}

body {
    margin: 0 auto;
}


.about {
    border: 1px solid black;
    padding: 20px;
}


h1 {
    font-size: 50px;
    font-family: 'Cinzel Decorative', sans-serif;
    text-align: center;
    /* color: #af763d; */
    color: white;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 3px rgb(66, 66, 66);
    position: relative;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
    height: auto;
}

.croppable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.splash {
    height: max-content;
    margin: 0;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 0 0;
    background-image: url('https://i.postimg.cc/HsF2tD01/splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.recommendation-btn{

   width: 100%;
   padding: 20px 0;

   margin: 1em 0;
   margin-top: 20%;
   
   color: #ffffff;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-collapse: collapse;

   background-color: rgba(0, 0, 0, 0.25);

   font-family: 'Cinzel decorative', sans-serif;
   font-size: 0.75rem;

   position: relative;
   display: inline-block;
   flex-direction: row;
   
}    

.recommendation-btn:hover{
    text-decoration: none;
    color: #afa976;
    transition-duration: 0.5s;
    border-color: #afa976;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.container {
  max-width: 1920px;
  margin: auto auto;
  padding: 0 20px;
}

.navigation{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 0;

    position: fixed;
    width: 100%;
    z-index: 9999;
}
.navigation ul{
    display: flex;
}
.navigation li{
    flex-direction: column;

    margin: 5px auto;
}

.main-title {
    background-color: rgb(8, 8, 8, 0.25);


}

#planet-video {
    display: block;
    margin: 0 auto;
}

.youtube-video,
.map {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.highlight {
    margin: auto;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

caption {
    padding: 10px;
}

tbody {
    font-size: 95%;
    font-style: italic;
}

tfoot {
    font-weight: bold;
}

@media (max-width: 1000px){
    h1{
        font-size: 1.75rem;
    }

    .splash{
        margin: 0;
        padding: 0;
    }

   
}